/*
!.*

# vim
*.swp

# excluded stuff
.ICEauthority
.Skype/
.VirtualBox/
.Xresources
.adobe/
.android/
.appdata/
.aptitude/
.bash_history
.bash_logout
.bzr.log
.cache/
.compiz-1/
.compiz/
.config/
.cups/
.dbus/
.ddd/
.dia/
.dmrc
.dropbox-dist/
.dropbox/
.dvdcss/
.eclipse/
.esd_auth
.flexlmrc
.fontconfig/
.gconf/
.gconfd/
.gegl-0.0/
.gftp/
.gimp-2.6/
.gksu.lock
.gnome2/
.google/
.gstreamer-0.10/
.gtk-bookmarks
.inkscape/
.java/
.kchmviewer/
.latexdraw/
.lesshst
.libreoffice/
.local/
.macromedia/
.maple/
.matlab/
.matlabbackup/
.mcrCache7.13/
.metadata/
.mission-control/
.mozilla/
.mplayer/
.mysql_history
.mythtv/
.netbeans-registration/
.netbeans/
.oces/
.oces2/
.open-pdfs
.openoffice.org/
.pdfedit/
.pki/
.printer-groups.xml
.profile
.pulse-cookie
.pulse/
.qt/
.recently-used.*
.ripperXrc
.rpmdb/
.screenlets/
.skypecallrecorder.rc
.smpd
.sqlite_history
.ssh/id_dsa*
.ssh/known_hosts
.subversion/
.sudo_as_admin_successful
.texmf-var/
.thumbnails/
.vim/
.vimbackup/
.viminfo
.xdvirc
.xmodmaps/
.xsession-errors
.xsession-errors.old
.Xauthority
.freemind/
.gnupg/
.mcrCache7.15/
.shotwell/
.synaptic/
.thunderbird.last-version
.thunderbird/
.goutputstream-*
.launchpadlib/
.mricron/
.nevernote/
.install4j
.yEd/
