/*
!.*

# misc
*.WAV
*.wav

# other versioning systems
.svn

# latex
*.aux
*.blg
*.dvi
*.log
*.toc
*.ind
*.ilg

# matlab
*.m~

# vim
*.swp
.vim/spell/en.utf-8.add.spl

# mail
.fetchmailrc
.fetchmaillog
.forward

# ssh
.ssh/authorized_keys
.ssh/id_dsa*
.ssh/known_hosts

# excluded stuff
.ssh/authorized_keys
.ICEauthority
.Skype/
.VirtualBox/
.adobe/
.android/
.appdata/
.aptitude/
.bash_history
.bash_logout
.bzr.log
.cache/
.compiz-1/
.compiz/
.config/
.cups/
.dbus/
.ddd/
.dia/
.dmrc
.dropbox-dist/
.dropbox/
.dvdcss/
.eclipse/
.esd_auth
.flexlmrc
.fontconfig/
.gconf/
.gconfd/
.gegl-0.0/
.gftp/
.gimp-2.6/
.gksu.lock
.gnome2/
.google/
.gstreamer-0.10/
.gtk-bookmarks
.inkscape/
.java/
.kchmviewer/
.latexdraw/
.lesshst
.libreoffice/
.local/
.macromedia/
.maple/
.matlab/
.matlabbackup/
.mcrCache7.13/
.metadata/
.mission-control/
.mozilla/
.mplayer/
.mysql_history
.mythtv/
.netbeans-registration/
.netbeans/
.oces/
.oces2/
.open-pdfs
.openoffice.org/
.pdfedit/
.pki/
.printer-groups.xml
.profile
.pulse-cookie
.pulse/
.qt/
.recently-used.*
.ripperXrc
.rpmdb/
.screenlets/
.skypecallrecorder.rc
.smpd
.sqlite_history
.subversion/
.sudo_as_admin_successful
.texmf-var/
.thumbnails/
.vimbackup/
.viminfo
.xdvirc
.xmodmaps/
.xsession-errors
.xsession-errors.old
.Xauthority
.freemind/
.gnupg/
.mcrCache7.15/
.shotwell/
.synaptic/
.thunderbird.last-version
.thunderbird/
.goutputstream-*
.launchpadlib/
.mricron/
.nevernote/
.install4j
.yEd/
.gvfs/
.cmake/
.googleearth/
.icedtea/
.openarena/
.clojure_history
.java_history
.m2/
.apvlvinfo
.filezilla/
.Private
.ecryptfs
.nv/
.nvidia-settings-rc
.swo
.anyconnect
.gimp-2.8/
.everpad/
.fltk/
.freerdp/
.hplip/
.icons/
.octave_hist
.remmina/
.signon/
.smbcredentials
.swt/
.teamviewer/
.thinlinc/
.gimp-2.8/
.calibre_calibre GUI.lock
.gnome/
.nx/
.qtnx/
.gitk
.apport-ignore.xml
.Xauthority.*
.ilg-config
.MRIcroGL/
.aspell.da.prepl
.aspell.da.pws
.mono/
.mricron-npm/
.openshot/
.recently-used
.amd/
.matplotlib/
.MedINRIA
.kde/
